
.header {
    display: flex; 
    align-items: center; 
    justify-content:space-between; 
    padding: 20px; 
    border-bottom: 1px solid $color-border; 
    gap: 10px;

    &__left{
        display: flex;
        align-items: center;
        margin-inline: 20px;
    }
    &__logo {
        height: 50px; 
        width: auto; 
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    &__title {
        font-size: 24px; 
        margin: 10px; 
        
    }
    &__right {
        display: flex;
        align-items: center;
      }
    &__login-button,
    &__signup-button {
        display: flex;
        align-items:center;
        text-align:center;
        background-color: $button-color;
        color: $google-button-color;
        border: 1px solid #0000;
        border-radius: 8px;
        margin: 5px;
        cursor: pointer;
        height: 40px;  
        padding: 10px;
        width: auto;
        
    }
}
